@if (users() && users().length) {

  <p-selectbutton
    style="margin-bottom: 1rem"
    [options]="cols()"
    [ngModel]="value()"
    (ngModelChange)="value.set($event)"
    [multiple]="true"
    optionLabel="header"
    optionValue="field"
  ></p-selectbutton>

  <p-table
      #dt
      showGridlines
      [value]="users()"
      [columns]="filteredCols()"
      [paginator]="true"
      [rows]="5"
      [rowsPerPageOptions]="[5, 10, 15]"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Показывает от {first} до {last} из {totalRecords} записей"
      [tableStyle]="{'min-width': '50rem'}"
    >
      <ng-template pTemplate="caption">
        <div>
          <p-iconfield iconPosition="left">
            <p-inputicon>
              <i class="pi pi-search"></i>
            </p-inputicon>
            <input
              pInputText
              type="text"
              (input)="globalSearch($event, dt)"
              placeholder="Search"
            />
          </p-iconfield>
        </div>
      </ng-template>
      <ng-template #header let-columns>
        <tr>
          @for (col of columns; track $index) {
            <th [pSortableColumn]="col.field" >
              {{ col.header }} <p-sortIcon [field]="col.field" />
            </th>
          }
        </tr>
      </ng-template>
      <ng-template #body let-rows let-columns="columns">
        <tr>
          @for (col of columns; track $index) {
            @switch (col.field) {
              @case (UserKeys.name) {
                <td>{{ rows[col.field].first }}, {{ rows[col.field].last }}</td>
              }
              @case (UserKeys.isActive) {
                <td>
                  @if (rows[col.field]) {
                    <p-tag severity="success" value="Online"></p-tag>
                  } @else {
                    <p-tag severity="danger" value="Offline"></p-tag>
                  }
                </td>
              }
              @case (UserKeys.picture) {
                <td>
                  <img
                    [src]="rows[col.field]"
                    alt="pic"
                    loading="lazy"
                  >
                </td>
              }
              @case (UserKeys.tags) {
                <td>
                  @for (tag of rows[col.field]; track $index){
                    <p-tag severity="secondary" [value]="tag"></p-tag>
                  }
                </td>
              }
              @default {
                <td>{{ rows[col.field] }}</td>
              }
            }
          }
        </tr>
      </ng-template>
    </p-table>
} @else {
  <p-table [tableStyle]="{'min-width': '50rem'}">
    <ng-template #header>
      <tr>
        <th>Empty</th>
      </tr>
    </ng-template>
  </p-table>
}
